<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="customcard">
    <p><%= @question %></p>
    <p class="italic"> —You </p>
  </div>

  <div class="customcard answer">
    <p class="thick"><%= @answer %></p>
    <p class="italic"> —Coach </p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
