<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="answer" data-turbo="false" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="mb-3">
      <label for="inputQuestion" class="form-label">Ask your coach anything:</label>
      <input type="text" class="form-control" name="question" id="inputQuestion">
    </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
